lib
fig
virtuoso-opensource
module-classes.txt
classes
libsempre

state
out
test-output

.project
.cproject
.pydevproject
.classpath
.settings
.idea
semparse.iml
*~
*.swp
*.bak
*.pyc
*.cache
*.DS_Store
java.hprof.txt
/bin/

sabrina/sabrina.canonicals.tsv
sabrina/sabrina.*.params
sabrina/sabrina.word_alignments.berkeley.source.*
sabrina/sabrina.word_alignments.berkeley.*
sabrina/sabrina.*.online_learn
sabrina/sabrina.log
sabrina/sabrina.phrase_alignments.*
sabrina/sabrina-ppdb.txt
sabrina/sabrina.training.conf

ifttt/canonicals.tsv
ifttt/entity_extraction.tsv
ifttt/filtered.tsv
ifttt/ifttt.phrase_alignments.en
ifttt/ifttt.word_alignments.berkeley.en
ifttt/test.tsv
ifttt/train.tsv
