lib
fig
virtuoso-opensource
module-classes.txt
classes
libsempre

state
out
test-output

.project
.cproject
.pydevproject
.classpath
.settings
.idea
semparse.iml
*~
*.swp
*.bak
*.pyc
*.cache
*.DS_Store
java.hprof.txt
/bin/

data/ppdb.txt

almond/almond.canonicals.tsv
almond/almond.*.params
almond/almond.word_alignments.berkeley.source.*
almond/almond.word_alignments.berkeley.*
almond/almond.*.online_learn
almond/almond.log
almond/almond.phrase_alignments.*

ifttt/canonicals.tsv
ifttt/entity_extraction.tsv
ifttt/filtered.tsv
ifttt/ifttt.phrase_alignments.en
ifttt/ifttt.word_alignments.berkeley.en
ifttt/test.tsv
ifttt/train.tsv
