[Unit]
Description=Almond Natural Language Parser (NN based)
Requires=almond-tokenizer.service
After=almond-tokenizer.service

[Service]
ExecStart=/opt/almond-nnparser/run_server.py
WorkingDirectory=/srv/data/almond-nnparser-server
Type=notify
WorkingDirectory=/var/lib/almond-nnparser
StandardOutput=journal
StandardError=inherit

# reduce the CPU load we get
CPUAccounting=true
CPUShares=512

ProtectHome=true
ProtectSystem=full
CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_SETUID CAP_SETGID

[Install]
WantedBy=multi-user.target
