[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "~=1.9.0"
orderedset = "*"
numpy = "*"
tornado = "*"
SQLAlchemy = "*"
"tensor2tensor" = {editable = true, ref = "master", git = "https://github.com/Stanford-Mobisocial-IoT-Lab/tensor2tensor.git"}
semver = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.6"
